In [5]:
import seaborn as sns
import numpy as np
df = sns.load_dataset('penguins')

In [17]:
np.unique(df['species'], return_counts = True)
df[df['flipper_length_mm'] >= 206.5]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
95,Adelie,Dream,40.8,18.9,208.0,4300.0,Male
129,Adelie,Torgersen,44.1,18.0,210.0,4000.0,Male
189,Chinstrap,Dream,52.0,20.7,210.0,4800.0,Male
192,Chinstrap,Dream,49.0,19.5,210.0,3950.0,Male
199,Chinstrap,Dream,49.0,19.6,212.0,4300.0,Male
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [19]:
df[df['flipper_length_mm'] >= 206.5][df['bill_length_mm'] < 43.35]

C:\Users\abdu\AppData\Local\Temp\ipykernel_11388\4291647136.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['flipper_length_mm'] >= 206.5][df['bill_length_mm'] < 43.35]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
95,Adelie,Dream,40.8,18.9,208.0,4300.0,Male
228,Gentoo,Biscoe,43.3,13.4,209.0,4400.0,Female
230,Gentoo,Biscoe,40.9,13.7,214.0,4650.0,Female
236,Gentoo,Biscoe,42.0,13.5,210.0,4150.0,Female
244,Gentoo,Biscoe,42.9,13.1,215.0,5000.0,Female
251,Gentoo,Biscoe,42.8,14.2,209.0,4700.0,Female
256,Gentoo,Biscoe,42.6,13.7,213.0,4950.0,Female
260,Gentoo,Biscoe,42.7,13.7,208.0,3950.0,Female
278,Gentoo,Biscoe,43.2,14.5,208.0,4450.0,Female
326,Gentoo,Biscoe,41.7,14.7,210.0,4700.0,Female
328,Gentoo,Biscoe,43.3,14.0,208.0,4575.0,Female